<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="MyDBConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=your_server;Initial Catalog=your_database;User ID=your_username;Password=your_password" />
  </connectionStrings>
  <appSettings>
    <!-- GoogleAuthenticationsKeys-->
    <add key="GoogleClientId" value="881842901382-js810ki7ept10brmbjlr8o1n0r5aqkn1.apps.googleusercontent.com" />
    <add key="GoogleClientSecret" value="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" />
    <add key="URIApp" value="https://localhost:44382/Pages/GooglePage.aspx"/>

    <!-- Permite abrir a applicação com os campos vazios para os validadores  -->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    
    <!--Keys do servidor GMAIL-->
    <add key="SMTP_URL_Gmail" value="smtp.gmail.com" />

    <add key="SMTP_Name_Gmail" value="tiago soares" />

    <add key="SMTP_UserName_Gmail" value="xtare16.soares@gmail.com" />

    <!-- é necessário criar uma password para acesso de aplicações na conta da google-->

    <add key="SMTP_Pssword_Gmail" value="rayh upar lnit nvdm" />

    <add key="SMTP_TLS_Port_Gmail" value="587" />

    <add key="SMTP_SSL_Port_Gmail" value="25" />

    <!-- palavra Pass para encriptação e desencriptação webservice -->
    <add key="Passphrase" value="Gest_Cinel_2024" />
  </appSettings>
  <system.web>
    <!-- Páginas de erro personalizadas -->
    <customErrors mode="Off" defaultRedirect="/Pages/errorPages/Errors.aspx">
      <error statusCode="404" redirect="/Pages/errorPages/Error404.aspx" />
    </customErrors>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>